* {
    padding: 0;
    margin: 0;
    font-family: 'Finlandica', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(35, 35, 90);
    overflow-x: hidden;
}

:root {
    --menu-height: 6%;
    --menu-min-height: 0;
    --home-min-height: 0;
    --min-width: 100vw;
    --width: 100%;
    --space-color: rgb(22, 104, 176);
    --background-color: rgb(35, 35, 90);
}

#menu {
    position: fixed;
    top: 0;
    width: var(--width);
    height: var(--menu-height);
    min-height: 0;
    background-color: rgb(237, 145, 33);
    overflow: hidden;
    z-index: 100;
    border-bottom: 2px solid black;
    text-align: center;
    /* border-radius: 12px; */
}

#menu button {
    position: relative;
    color: #000000;
    text-align: center;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 6px;
    text-decoration: none;
    font-size: 100%;
    border: 2px solid black;
    background-color: rgb(237, 115, 33);
    border-radius: 12px;
    height: 80%;
    top: 10%;
}

#menu button:active {
    background-color: rgb(237, 145, 33);
}

#language_btn {
    position: fixed;
    line-height: 100%;
    height: 5vw;
    width: 5vw;
    right: 0.5%;
    bottom: 0.5%;
    background-color: red;
    z-index: 999;

    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 175%;
    border: 2px solid black;
    background-color: rgb(237, 115, 33);
    border-radius: 12px;
}

#language_btn:active {
    background-color: rgb(237, 145, 33);
}

#home {
    position: relative;
    top: var(--menu-height);
    background-color: var(--space-color);
    height: 100vh;
    /* rgb(43, 37, 63) */
}

#home-text {
    position: relative;
    z-index: 1;
    top: 0;
    padding: 2vw;
    display: block;
    overflow-wrap: break-word;
}

#home-title {
    position: relative;
    font-size: 60px;
    margin-bottom: 8px;
    margin-left: 10;
    display: block;
    overflow-wrap: break-word;
    margin-top: var(--menu-height);
    left: 10%;
    z-index: 1;
}

#home i {
    position: absolute;
    top: -250px;
    background-color: white;
    animation: animate_stars linear infinite;
}

@keyframes animate_stars {
    0% {
        transform: translateY(0vh);
    }
    100% {
        transform: translateY(200vh);
    }
}

#carrot {
    position: relative;
    max-height: 70%;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 5%;
    float: left;
    animation: animate_carrot 0.2s ease infinite;
    z-index: 1;
}

@keyframes animate_carrot {
    0% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
}

#carrot::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-100px);
    width: 10px;
    height: 200px;
    background: rgb(237, 145, 33);
}

section {
    border-top: 2px solid #000000;
}

#project {
    position: relative;
    top: var(--menu-height);
    width: var(--width);
    height: 50vh;
    background-color: var(--background-color);
    z-index: 1;
}

#news {
    position: relative;
    top: var(--menu-height);
    height: 50vh;
    width: var(--width);
    background-color: blue;
}

#about_us {
    position: relative;
    top: var(--menu-height);
    height: 50vh;
    width: var(--width);
}